<h3><%= @mediamaid.mediamaid_file_name -%> Information</h3>
<table cellpadding="5">
   <tr>
    <th scope="row">Content Type:</th>
    <td><%= @mediamaid.mediamaid_content_type %>
  </tr>
  <tr>
    <th scope="row">Size:</th> 
    <td>
       <%=
      size = @mediamaid.mediamaid_file_size 
      if (size> 1000000)
         puts (size/1000000).to_s << "MB"
      elsif ( size > 1000 )
         puts (size/1000).to_s << " KB"
      else 
         puts size << " bytes"
      end
       %>
      </td>
  </tr>
  <tr>
     <th scope="row">Upload Date:</th>
     <td><%= @mediamaid.created_at.strftime('%m/%d/%Y') -%></td>
 
  <% if @mediamaid.mediamaid_content_type =~ /image/ %>
    <tr>
      <td>
         <%= link_to "Thumbnail", "#thumbnail" %>
      </td>
      <td>
          <%= image_tag @mediamaid.mediamaid.url(:thumb) -%>
      </td>
   </tr>
   <tr>
      <td>
         <%= link_to "Original", "#original" %><br>
      </td>
      <td><%= image_tag @mediamaid.mediamaid.url(:original) -%></td>
   </tr>
   <tr>
      <td>
         <%= link_to "Large", "#large" %><br>
      </td>
      <td><%= image_tag @mediamaid.mediamaid.url(:large) -%></td>
   </tr>
   <tr>
      <td> 
         <%= link_to "Medium", "#medium" %><br>
      </td>
      <td><%= image_tag @mediamaid.mediamaid.url(:medium) -%>
  </tr>
  <% end %>
  <tr>
    <td class="remove"><%= link_to "remove", remove_admin_mediamaid_url(@mediamaid),:confirm=>"Are you sure?" -%></td>
  </tr>
 </table>
